.layout-gradient {
  background-image: linear-gradient(
    to right,
    #18153f,
    #201030,
    #200b23,
    #1d0718,
    #16030e,
    #110208,
    #0a0104,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000
  );
}

.layout-content {
  padding-top: 80px;
  @media (max-width: 800px) {
    padding-top: 0px;
  }
}

.layout-menu {
  margin-top: 45px;
  background-color: transparent;
  border: none;
}

.layout-logo {
  margin-top: 53px;
  cursor: pointer;
  border-radius: 0;
  max-width: 160px;
}

.ant-menu-submenu-title {
  color: white;
}

.ant-menu-submenu-popup > .ant-menu {
  background-color: black !important;
}
