.subscription-form-input {
  background-color: black;
  border-color: rgb(42, 42, 42);
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.subscription-form-text-area {
  background-color: black;
  border-color: rgb(42, 42, 42);
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
